@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0;
}
.panel_menu{
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 25%);
    position: absolute;
    width: 10%;
    left: 0;
    margin: 0;
    height: 100%;
    background-color: #E2DFFF;
}

.name_logo{
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: calc(1px + 24*(100vw/1920));
}
.main_info{
    position: absolute;
    width: 90%;
    right: 0;
    margin: 0;
    height: 100%;
}
.h-article{
    text-align: right;
    margin-top: 2%;
    margin-right: 2%;
}
.logo{
    width: 60%;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}
.panel_menu_p{
    text-align: center;
}
.panel_icon_1{
    width: 50%;
    margin-bottom: 2%;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
}
.panel_icon_2{
    width: 50%;
    margin-bottom: 2%;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
}
.panel_menu a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: calc(1px + 24*(100vw/1920));
}
.calendar{
    position: absolute;
    top: 93%;
    width: 100%;
}
.header_logo{
    display: grid;
    justify-content: center;
}
.header_logo h1{
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}
.table{
    width: 80%;
    margin-left: 15%;
}

.current_project{
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 25%);
    background-color: #7CAEF9;
    border-radius: 45px;
    
}
.current_project img{
    width: 100%;
}

.current_project h1{
    font-weight: bold;
    color: #FFF;
    font-size: 32px;
}
.current_project p{
    color: #FFF;
    font-size: 15px;
}
.cur_text{
    padding: 2%;
}
.card_footer{
    background-color: #0A006B;
    width: 100%;
    height: 25%;

}
.card_footer table{
    display: flex;
    justify-content: center;
}
.card_footer a{
    color: #FFF;
    font-family: Roboto Serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.card_footer p{
    color: #FFF;
    font-family: Roboto Serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}